.container
  .row
    .col-md-4
      %h3
        %b Add team
      %hr
      = simple_form_for @team do |f|
        = f.error_notification
        .form-group
          = f.input :name
        .form-actions
          = link_to "Go back", :back, class: "btn btn-primary"
          = f.button :submit, "Create", class: "btn btn-success"
