%h2
	%b Users
%table.table
	%tr
		%th Email
		%th First Name
		%th Last Name
		%th Team
		%th Admin
	- @users.each do |user|
		%tr
			%td= link_to user.email, user_path(user)
			%td= user.first_name
			%td= user.last_name
			%td= user.team ? user.team.name : 'No team assigned'
			%td= user.admin?
%hr
%div{:align => "right"}
	= link_to 'Add user', new_user_path, class: 'btn btn-success'
