.container
  .row
    .col-md-4
      %h3
        %b= "#{@user.full_name} (#{@user.email})"
      %hr
      %div{:align => "right"}
        = "Member since #{l @user.created_at.to_date, format: :short}"
        %hr
        = "Member of "
        - if @user.team && current_user.admin
          = link_to @user.team.name, team_path(@user.team)
        - elsif @user.team
          = @user.team.name
        - elsif @user.team.nil?
          = "no one"
        = " team"
        %hr
        = "Hourly rate: #{@user.rate}"
        %hr
        = link_to "Go back", :back, class: "btn btn-primary"
        = link_to "Delete", user_path(@user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" if current_user.admin
        = link_to "Edit", edit_user_path, class: "btn btn-success" if current_user.admin
