.container
	.row
		.col-md-4
			%p.lead= "Edit category"
			%hr
			= simple_form_for @category do |f|
				= f.error_notification
				.form-group
					= f.input :name, label_html: { class: 'my_class' }
				.form-actions
					= link_to 'Delete', "/categories/#{@category.id}/destroy", class: 'btn btn-danger'
					= f.button :submit, "Update", class: 'btn btn-success'
