.container
  .row
    .col-md-4
      %p.lead= "Edit category"
      %hr
      = simple_form_for @category do |f|
        = f.error_notification
        .form-group
          = f.input :name
        .form-actions
          = link_to "Go back", :back, class: "btn btn-primary"
          = link_to "Delete", category_path(@category), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"
          = f.button :submit, "Update", class: "btn btn-success"
