.container
	.row
		.col-md-4
			%p.lead= "Add category"
			%hr
			= simple_form_for @category do |f|
				= f.error_notification
				.form-group
					= f.input :name, label_html: { class: 'my_class' }
				.form-actions
					= f.button :submit, "Create", class: 'btn btn-success'
