%h3 List of all users
%table.table
	%tr
		%th Email
		%th First Name
		%th Last Name
		%th Team
		%th Admin
	- @users.each do |user|
		%tr
			%td= user.email
			%td= user.first_name
			%td= user.last_name
			%td= user.team ? user.team.team : 'No team assigned'
			%td= user.admin?
