%tr
  %td.tg-vn4c
    %b= "Signature: "
    %b.signature= @report.user.full_name if @report.signed == true
  %td.tg-vn4c
    %b= "Days Total: #{@total_hours.select {|weekday,hours| hours > 0}.length}"
  - @total_hours.keys.each do |weekday|
    %td.tg-vv7f= @total_hours[weekday]
  %td.tg-vv7f= @total_hours.values.sum
