%h2
	%b Stats
%table.table
	%tr
		%td= link_to "Single user's time over a specific period", stats_user_path
	%tr
		%td= link_to "Multiple user's time over a specific period", stats_users_path
	%tr
		%td= link_to "Team stats for a specific period of time", stats_team_path
	%tr
		%td= link_to "Single category stats for a specific period of time", stats_category_path
	%tr
		%td= link_to "Multiple category stats for a specific period of time", stats_categories_path
