%p.lead{:align => "center"}= "Stats for a time period from #{@date_custom.strftime('%m/%d/%Y')}" if @date_custom
- $date = @date_custom.strftime('%m/%d/%Y') if @date_custom
%p.lead{:align => "center"}= "Stats for a time period from #{@date.strftime('%m/%d/%Y')}" if @date
- $date = @date.strftime('%m/%d/%Y') if @date
%hr
%br/

- if params[:user_id]
  - $user_rate = User.find(params[:user_id]).rate
  - $user_fullname = "#{User.find(params[:user_id]).first_name} #{User.find(params[:user_id]).last_name}"
  %p.lead= $user_fullname if $user_fullname
  %table.table
    %tr
      %th Category
      %th Hours
      %th Hourly pay
      %th Amount per project

    - @total_hours = 0
    - @n = 0
    - until @n == @cat_size
      - puts @hours[@n].inspect
      - @hours[@n].to_a.each do |day|
        - @th = 0
        - if day.category_id
          - puts "CATEGORY =========== #{day.category_id}"
          %tr
            %td= Category.find(day.category_id).name
            %td= @tsumtcat[@n]
            %td= User.find(params[:user_id]).rate if @tsumtcat[@n] != 0
            %td= @tsumtcat[@n] * User.find(params[:user_id]).rate if @tsumtcat[@n] != 0
            - @n+=1
    %tr
      %td
        %b= "Total"
      %td
        - @tsumtcat.each {|i| @total_hours += i}
        - $tsumtcat = @tsumtcat
        %b= @total_hours
        - $total_hours = @total_hours
      %td
      %td
        %b= User.find(params[:user_id]).rate * @total_hours
  %hr
  %div{:align => "right"}= link_to 'Export', "/stats/export_user", class: 'btn btn-primary'


- elsif params[:team_id]
  - total_hours_all_categories = 0
  - $users_arr.each do |user|
    - $user_rate = User.find(user[:user_id]).rate
    - $user_fullname = "#{User.find(user[:user_id]).first_name} #{User.find(user[:user_id]).last_name}"
    %p.lead= $user_fullname if $user_fullname
    %table.table
      %tr
        %th Category
        %th Hours
        %th Hourly pay
        %th Amount per project

      - total_hours = 0
      - total_paid  = 0
      - user[:categories].each do |category|
        %tr
          %td= category[:name]
          - category[:hours] = 0 if category[:hours].nil?
          %td= category[:hours]
          %td= User.find(user[:user_id]).rate if category[:hours] > 0
          %td= category[:hours] * User.find(user[:user_id]).rate if category[:hours] > 0
          - total_hours += category[:hours] if category[:hours] > 0
      %tr
        %td
          %b= "Total"
        %td
          %b= total_hours
          - total_hours_all_categories += total_hours
        %td
        %td
          %b= total_hours * User.find(user[:user_id]).rate

  %br/
  %br/
  %table.table
    %tr
      %th Team
      %th Total hours
    %tr
      %td= Team.find(params[:team_id]).name
      - $team = Team.find(params[:team_id]).name
      %td
        %b= total_hours_all_categories
        - $total_hours = total_hours_all_categories
  %hr
  %div{:align => "right"}= link_to 'Export', "/stats/export_team", class: 'btn btn-primary'


- elsif params[:category_id]
  %p.lead= Category.find(params[:category_id]).name
  - $category = Category.find(params[:category_id]).name
  %table.table
    %tr
      %th User
      %th Hours
      %th Hourly pay
      %th Amount per project

    - total_hours = 0
    - total_amount_for_projects = 0
    - $users_arr.each do |user|
      %tr
        %td= "#{User.find(user[:user_id]).first_name} #{User.find(user[:user_id]).last_name}"
        - user[:hours] = 0 if user[:hours].nil?
        %td= user[:hours]
        %td= User.find(user[:user_id]).rate if user[:hours] > 0
        %td= user[:hours] * User.find(user[:user_id]).rate if user[:hours] > 0
        - total_hours += user[:hours] if user[:hours] > 0
        - total_amount_for_projects += user[:hours] * User.find(user[:user_id]).rate if user[:hours] > 0
    %tr
      %td
        %b= "Total"
      %td
        %b= total_hours
      %td
      %td
        %b= total_amount_for_projects

  %hr
  %div{:align => "right"}= link_to 'Export', "/stats/export_category", class: 'btn btn-primary'





  / -#%p.lead= Category.find(params[:category_id]).name
  / -# $category = Category.find(params[:category_id]).name
  / %table.table
  /   %tr
  /     %th Category
  /     %th Total hours
  /   %tr
  /     %td= Category.find(params[:category_id]).name
  /     - $category = Category.find(params[:category_id]).name
  /     %td= @total_hours
  /     - $total_hours = @total_hours
  / %hr
  / %div{:align => "right"}= link_to 'Export', "/stats/export_category", class: 'btn btn-primary'


- elsif params[:all]
  - total_hours_all_categories = 0
  - $users_arr.each do |user|
    - $user_rate = User.find(user[:user_id]).rate
    - $user_fullname = "#{User.find(user[:user_id]).first_name} #{User.find(user[:user_id]).last_name}"
    %p.lead= $user_fullname if $user_fullname
    %table.table
      %tr
        %th Category
        %th Hours
        %th Hourly pay
        %th Amount per project

      - total_hours = 0
      - total_paid  = 0
      - user[:categories].each do |category|
        %tr
          %td= category[:name]
          - category[:hours] = 0 if category[:hours].nil?
          %td= category[:hours]
          %td= User.find(user[:user_id]).rate if category[:hours] > 0
          %td= category[:hours] * User.find(user[:user_id]).rate if category[:hours] > 0
          - total_hours += category[:hours] if category[:hours] > 0
      %tr
        %td
          %b= "Total"
        %td
          %b= total_hours
          - total_hours_all_categories += total_hours
        %td
        %td
          %b= total_hours * User.find(user[:user_id]).rate

  %br/
  %br/
  %table.table
    %tr
      %th Users
      %th Total hours
    %tr
      %td All
      %td
        %b= total_hours_all_categories
        - $total_hours = total_hours_all_categories

  %hr
  %div{:align => "right"}= link_to 'Export', "/stats/export_all", class: 'btn btn-primary'


- else
  - puts "condition_catched!"
  - puts params


