%p.lead{:align => "center"}= "Stats for a time period from #{@date_custom.strftime('%m/%d/%Y')}" if @date_custom
%p.lead{:align => "center"}= "Stats for a time period from #{@date.strftime('%m/%d/%Y')}" if @date
%hr
%br/

- if params[:user_id]
  %p.lead= "#{User.find(params[:user_id]).first_name} #{User.find(params[:user_id]).last_name}"
  %table.table
    %tr
      %th Category
      %th Hours

    - @total_hours = 0
    - @n = 0
    - until @n == @cat_size
      - puts @hours[@n].inspect
      - @hours[@n].to_a.each do |day|
        - @th = 0
        - if day.category_id
          - puts "CATEGORY =========== #{day.category_id}"
          %tr
            %td= Category.find(day.category_id).name
            %td= @tsumtcat[@n]
            - @n+=1
    %tr
      %td
        %b= "Total hours"
      %td
        - @tsumtcat.each {|i| @total_hours += i}
        %b= @total_hours
- elsif params[:team_id]
  %table.table
    %tr
      %th Team
      %th Total hours
    %tr
      %td= Team.find(params[:team_id]).name
      %td= @total_hours
- elsif params[:team_category_id] or params[:category_team_id]
  %table.table
    %tr
      %th Team
      %th Category
      %th Total hours
    %tr
      %td= Team.find(params[:team_category_id]).name
      %td= Category.find(params[:category_team_id]).name
      %td= @total_hours
- elsif params[:category_id]
  %table.table
    %tr
      %th Category
      %th Total hours
    %tr
      %td= Category.find(params[:category_id]).name
      %td= @total_hours
- elsif params[:all]
  %table.table
    %tr
      %th Users, teams and categories
      %th Total hours
    %tr
      %td All
      %td= @total_hours
- else
  - puts "condition_catched!"
  - puts params


