.container
  .row
    .col-md-5
      %p.lead= "Single team over a specified time period"
      %hr
      = form_tag(stat_reports_team_path, method: "post") do
        .form-group
          = label_tag(:team_id, "Team: ")
          = select_tag "team_id", options_from_collection_for_select(@teams, "id", "name"), class: "form-control"
          %br/
          = render partial: "body"
