.container
  .row
    .col-md-5
      %p.lead= "Single user over a specific time period"
      %hr
      = form_tag(stat_reports_user_path, method: "post") do
        .form-group
          = label_tag(:user_id, "User: ")
          = select_tag "user_id", options_from_collection_for_select(@users, "id", "full_name"), class: "form-control"
          %br/
          = render partial: "body"
