.container
  .row
    .col-md-4
      %p.lead= "Edit report"
      %hr
      = simple_form_for @report do |f|
        = f.error_notification
        .form-group
          = f.input :day, collection: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], prompt: "Select day of the week"
          = f.input :categories_id, :as => :select, collection: @categories, prompt: "Select category"
          = f.input :hours, collection: 1..10, prompt: "Select number of hours"
        .form-actions
          = link_to 'Go back', :back, class: 'btn btn-primary'
          = link_to 'Delete', "/reports/#{@report.id}/destroy", class: 'btn btn-danger'
          = f.button :submit, "Update", class: 'btn btn-success'
