.container
  %center
    %h2
      %b Reports (new)
  .row
    .col-md-3
    .col-md-3
    .col-md-3
    .col-md-3
      = form_tag("/reports/search", method: "post") do
        .form-group
          = label_tag(:date_custom, "Previous reports (custom date): ")
          #datetimepicker1.input-group.date
            = text_field_tag(:date_custom, nil, class: 'form-control')
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
          :javascript
            $(function () {
                $('#datetimepicker1').datepicker({
                 daysOfWeekDisabled: "1,2,3,4,5,6",
                 calendarWeeks: true,
                 todayHighlight: true,
                 toggleActive: true
                });
            });
          %div{:align => "right"}= submit_tag("Search", class: 'btn btn-success')

  = simple_form_for @report do |f|

    :css
      .tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;margin:0px auto;}
      .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
      .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
      .tg .tg-0rnh{background-color:#D2E4FC;font-weight:bold;text-align:center}
      .tg .tg-0ord{text-align:right}
      .tg .tg-ifyx{background-color:#D2E4FC;text-align:right}
      .tg .tg-vn4c{background-color:#D2E4FC} 
      .tg .tg-e3zv{font-weight:bold}
      .tg .tg-vv7f{background-color:#D2E4FC;font-weight:bold;text-align:center}
      .tg .tg-hgcj{font-weight:bold;text-align:center}
    %table.tg{:style => "undefined;table-layout: fixed; width: 1068px"}
      %colgroup
        %col{:style => "width: 294px"}
          %col{:style => "width: 100px"}
            %col{:style => "width: 100px"}
              %col{:style => "width: 100px"}
                %col{:style => "width: 100px"}
                  %col{:style => "width: 100px"}
                    %col{:style => "width: 100px"}
                      %col{:style => "width: 100px"}
                        %col{:style => "width: 100px"}
                          %col{:style => "width: 70px"}
      %tr
        %th.tg-0ord Associate Name:
        %th.tg-hgcj{:colspan => "2"} #{current_user.first_name} #{current_user.last_name}
        %th.tg-031e
        %th.tg-031e
        %th.tg-031e
        %th.tg-031e
        %th.tg-031e
        %th.tg-031e
        %th.tg-031e
      %tr
        %td.tg-vn4c
        %td.tg-vn4c
        %td.tg-0rnh
          = link_to "< Previous", "/reports/#{@previous.id}" if @previous
          = "< Previous" if @previous == nil
        %td.tg-0rnh{:colspan => "6"}= "For Week Starting Sunday #{@week_begin} Through Saturday #{@week_end}"
        %td.tg-0rnh
          = link_to "Next >", "/reports/#{@next.id}" if @next
          = "Next >" if @next == nil
      %tr
        %td.tg-0rnh Description
        %td.tg-0rnh
        %td.tg-0rnh
          SUNDAY
          %br
          = Date.commercial(@report.created_at.strftime("%Y").to_i, @report.week_id, 7).strftime("%m/%d/%Y")
        %td.tg-0rnh
          MONDAY
          %br
          = Date.commercial(@report.created_at.strftime("%Y").to_i, @report.week_id+1, 1).strftime("%m/%d/%Y")
        %td.tg-0rnh
          TUESDAY
          %br
          = Date.commercial(@report.created_at.strftime("%Y").to_i, @report.week_id+1, 2).strftime("%m/%d/%Y")
        %td.tg-0rnh
          WEDNESDAY
          %br
          = Date.commercial(@report.created_at.strftime("%Y").to_i, @report.week_id+1, 3).strftime("%m/%d/%Y")
        %td.tg-0rnh
          THURSDAY
          %br
          = Date.commercial(@report.created_at.strftime("%Y").to_i, @report.week_id+1, 4).strftime("%m/%d/%Y")
        %td.tg-0rnh
          FRIDAY
          %br
          = Date.commercial(@report.created_at.strftime("%Y").to_i, @report.week_id+1, 5).strftime("%m/%d/%Y")
        %td.tg-0rnh
          SATURDAY
          %br
          = Date.commercial(@report.created_at.strftime("%Y").to_i, @report.week_id+1, 6).strftime("%m/%d/%Y")
        %td.tg-0rnh TOTAL


        = f.simple_fields_for :hours do |ff|
          %tr
            %td.tg-031e= ff.object.category.name
            %td.tg-031e
            %td.tg-031e= ff.input :sunday,    as: :integer, label: false, input_html: { min: '0', max: '12', step: 'any' }
            %td.tg-031e= ff.input :monday,    as: :integer, label: false, input_html: { min: '0', max: '12', step: 'any' }
            %td.tg-031e= ff.input :tuesday,   as: :integer, label: false, input_html: { min: '0', max: '12', step: 'any' }
            %td.tg-031e= ff.input :wednesday, as: :integer, label: false, input_html: { min: '0', max: '12', step: 'any' }
            %td.tg-031e= ff.input :thursday,  as: :integer, label: false, input_html: { min: '0', max: '12', step: 'any' }
            %td.tg-031e= ff.input :friday,    as: :integer, label: false, input_html: { min: '0', max: '12', step: 'any' }
            %td.tg-031e= ff.input :saturday,  as: :integer, label: false, input_html: { min: '0', max: '12', step: 'any' }
            %td.tg-031e
            %td.tg-031e= ff.input :category_id, as: :hidden

        %tr
          %td.tg-vn4c
            %b Signature
          %td.tg-vn4c
            %b= "Days Total: "
          %td.tg-vv7f
          %td.tg-vv7f
          %td.tg-vv7f
          %td.tg-vv7f
          %td.tg-vv7f
          %td.tg-vv7f
          %td.tg-vv7f
          %td.tg-vv7f
    %hr
    %div{:align => "right"}
      = f.button :submit, "Create report", class: 'btn btn-success'
