.container
  %center
    %h2
      %b Reports
  .row
    .col-md-3
    .col-md-3
    .col-md-3
    .col-md-3
      = form_tag("/reports/search", method: "post") do
        .form-group
          = label_tag(:date_custom, "Previous reports (custom date): ")
          #datetimepicker1.input-group.date
            = text_field_tag(:date_custom, nil, class: 'form-control')
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
          :javascript
            $(function () {
                $('#datetimepicker1').datepicker({
                 daysOfWeekDisabled: "1,2,3,4,5,6",
                 calendarWeeks: true,
                 todayHighlight: true,
                 toggleActive: true
                });
            });
          %div{:align => "right"}= submit_tag("Search", class: 'btn btn-success')


  :css
    .tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;margin:0px auto;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
    .tg .tg-0rnh{background-color:#D2E4FC;font-weight:bold;text-align:center}
    .tg .tg-0ord{text-align:right}
    .tg .tg-ifyx{background-color:#D2E4FC;text-align:right}
    .tg .tg-vn4c{background-color:#D2E4FC} 
    .tg .tg-e3zv{font-weight:bold}
    .tg .tg-vv7f{background-color:#D2E4FC;font-weight:bold;text-align:center}
    .tg .tg-hgcj{font-weight:bold;text-align:center}
    .signature  { font: 400 30px/0.8 'Cookie', Helvetica, sans-serif;   color: #669;   text-shadow: 4px 4px 3px rgba(0,0,0,0.1); }
  %table.tg{:style => "undefined;table-layout: fixed; width: 1068px"}
    %colgroup
      %col{:style => "width: 294px"}
        %col{:style => "width: 100px"}
          %col{:style => "width: 100px"}
            %col{:style => "width: 100px"}
              %col{:style => "width: 100px"}
                %col{:style => "width: 100px"}
                  %col{:style => "width: 100px"}
                    %col{:style => "width: 100px"}
                      %col{:style => "width: 100px"}
                        %col{:style => "width: 70px"}
    %tr
      %th.tg-0ord Associate Name:
      %th.tg-hgcj{:colspan => "2"} #{current_user.first_name} #{current_user.last_name}
      %th.tg-031e
      %th.tg-031e
      %th.tg-031e
      %th.tg-031e
      %th.tg-031e
      %th.tg-031e
      %th.tg-031e

    %tr
      %td.tg-vn4c
      %td.tg-vn4c
      %td.tg-0rnh
        = link_to "< Previous", "/reports/#{@previous.id}" if @previous
        = "< Previous" if @previous == nil
      %td.tg-0rnh{:colspan => "6"}= "For Week Starting Sunday #{@week_begin} Through Saturday #{@week_end}"
      %td.tg-0rnh
        = link_to "Next >", "/reports/#{@next.id}" if @next
        = "Next >" if @next == nil
    %tr
      %td.tg-0rnh Description
      %td.tg-0rnh
      %td.tg-0rnh
        SUNDAY
        %br
        = Date.commercial(@report.created_at.strftime("%Y").to_i, @report.week_id, 7).strftime("%m/%d/%Y")
      %td.tg-0rnh
        MONDAY
        %br
        = Date.commercial(@report.created_at.strftime("%Y").to_i, @report.week_id+1, 1).strftime("%m/%d/%Y")
      %td.tg-0rnh
        TUESDAY
        %br
        = Date.commercial(@report.created_at.strftime("%Y").to_i, @report.week_id+1, 2).strftime("%m/%d/%Y")
      %td.tg-0rnh
        WEDNESDAY
        %br
        = Date.commercial(@report.created_at.strftime("%Y").to_i, @report.week_id+1, 3).strftime("%m/%d/%Y")
      %td.tg-0rnh
        THURSDAY
        %br
        = Date.commercial(@report.created_at.strftime("%Y").to_i, @report.week_id+1, 4).strftime("%m/%d/%Y")
      %td.tg-0rnh
        FRIDAY
        %br
        = Date.commercial(@report.created_at.strftime("%Y").to_i, @report.week_id+1, 5).strftime("%m/%d/%Y")
      %td.tg-0rnh
        SATURDAY
        %br
        = Date.commercial(@report.created_at.strftime("%Y").to_i, @report.week_id+1, 6).strftime("%m/%d/%Y")
      %td.tg-0rnh TOTAL

    - n = 0
    - @hours.each do |hour|
    - @weekday_hours = Hash["Sunday" => 0, "Monday" => 0, "Tuesday" => 0, "Wednesday" => 0, "Thursday" => 0, "Friday" => 0, "Saturday" => 0]
      %tr
        %td.tg-031e= Category.find(@hours.to_a[n].category_id).name
        %td.tg-031e
        %td.tg-031e{:align => "center"}= @hours.to_a[n].sunday
        - @total["hours"] += @hours.to_a[n].sunday if @hours.to_a[n].sunday
        - @weekday_hours["Sunday"] += @hours.to_a[n].sunday if @hours.to_a[n].sunday
        - @total["Sunday_hours"] += @hours.to_a[n].sunday if @hours.to_a[n].sunday
        %td.tg-031e{:align => "center"}= @hours.to_a[n].monday
        - @total["hours"] += @hours.to_a[n].monday if @hours.to_a[n].monday
        - @weekday_hours["Monday"] += @hours.to_a[n].monday if @hours.to_a[n].monday
        - @total["Monday_hours"] += @hours.to_a[n].monday if @hours.to_a[n].monday
        %td.tg-031e{:align => "center"}= @hours.to_a[n].tuesday
        - @total["hours"] += @hours.to_a[n].tuesday if @hours.to_a[n].tuesday
        - @weekday_hours["Tuesday"] += @hours.to_a[n].tuesday if @hours.to_a[n].tuesday
        - @total["Tuesday_hours"] += @hours.to_a[n].tuesday if @hours.to_a[n].tuesday
        %td.tg-031e{:align => "center"}= @hours.to_a[n].wednesday
        - @total["hours"] += @hours.to_a[n].wednesday if @hours.to_a[n].wednesday
        - @weekday_hours["Wednesday"] += @hours.to_a[n].wednesday if @hours.to_a[n].wednesday
        - @total["Wednesday_hours"] += @hours.to_a[n].wednesday if @hours.to_a[n].wednesday
        %td.tg-031e{:align => "center"}= @hours.to_a[n].thursday
        - @total["hours"] += @hours.to_a[n].thursday if @hours.to_a[n].thursday
        - @weekday_hours["Thursday"] += @hours.to_a[n].thursday if @hours.to_a[n].thursday
        - @total["Thursday_hours"] += @hours.to_a[n].thursday if @hours.to_a[n].thursday
        %td.tg-031e{:align => "center"}= @hours.to_a[n].friday
        - @total["hours"] += @hours.to_a[n].friday if @hours.to_a[n].friday
        - @weekday_hours["Friday"] += @hours.to_a[n].friday if @hours.to_a[n].friday
        - @total["Friday_hours"] += @hours.to_a[n].friday if @hours.to_a[n].friday
        %td.tg-031e{:align => "center"}= @hours.to_a[n].saturday
        - @total["hours"] += @hours.to_a[n].saturday if @hours.to_a[n].saturday
        - @weekday_hours["Saturday"] += @hours.to_a[n].saturday if @hours.to_a[n].saturday
        - @total["Saturday_hours"] += @hours.to_a[n].saturday if @hours.to_a[n].saturday
        %td.tg-031e{:align => "center"}
          %b= @weekday_hours["Sunday"] + @weekday_hours["Monday"] + @weekday_hours["Tuesday"] + @weekday_hours["Wednesday"] + @weekday_hours["Thursday"] + @weekday_hours["Friday"] + @weekday_hours["Saturday"]
      - n+=1

    %tr
      %td.tg-vn4c
        %b= "Signature: "
        %b.signature= "#{current_user.first_name} #{current_user.last_name}" if @report.signed == true
      %td.tg-vn4c
        - days = 0
        - days += 1 if @total["Sunday_hours"] > 0
        - days += 1 if @total["Monday_hours"] > 0
        - days += 1 if @total["Tuesday_hours"] > 0
        - days += 1 if @total["Wednesday_hours"] > 0
        - days += 1 if @total["Thursday_hours"] > 0
        - days += 1 if @total["Friday_hours"] > 0
        - days += 1 if @total["Saturday_hours"] > 0
        %b= "Days Total: #{days}"
        - $days = days
      %td.tg-vv7f= @total["Sunday_hours"]
      %td.tg-vv7f= @total["Monday_hours"]
      %td.tg-vv7f= @total["Tuesday_hours"]
      %td.tg-vv7f= @total["Wednesday_hours"]
      %td.tg-vv7f= @total["Thursday_hours"]
      %td.tg-vv7f= @total["Friday_hours"]
      %td.tg-vv7f= @total["Saturday_hours"]
      %td.tg-vv7f{:align => "center"}= @total["hours"]
  %hr
  %div{:align => "right"}
    = "This timesheet is locked, the editing period has expired."
    %br/
    = link_to 'Export', "/reports/#{@report.id}/export", class: 'btn btn-primary' if @report.signed == true
    = link_to 'Sign document', "/reports/#{@report.id}/sign", class: 'btn btn-primary' if @report.signed == false
