.container
  = render partial: "head"
  = render partial: "reports/timesheet/js_calc_total"
  = simple_form_for @report do |f|
    %table.tg{:style => "undefined;table-layout: fixed; width: 1068px"}
      = render partial: "reports/timesheet/main"
      = render partial: "reports/timesheet/categories", locals: {f: f}
      = render partial: "reports/timesheet/signature_and_total"
    %hr
    %div{:align => "right"}
      = f.button :submit, "Create report", class: "btn btn-success"
