.container
  .row
    .col-md-4
      %p.lead= "Report for #{@report.day}"
      %hr
      %div{:align => "right"}
        = "Hours: #{@report.hours}"
        %br/
        = "Category: #{@category.name}"
        %br/
        = "Created at: #{@report.created_at}"
        %br/
        %hr
        = link_to 'Go back', :back, class: 'btn btn-primary'
        = link_to 'Delete', "/reports/#{@report.id}/destroy", class: 'btn btn-danger'
        = link_to 'Edit', edit_report_path, class: 'btn btn-success'
