.container
  = render partial: "head"
  = render partial: "reports/timesheet/js_calc_total"
  = simple_form_for @report, :method => :patch do |f|
    %table.tg{:style => "undefined;table-layout: fixed; width: 1068px"}
      = render partial: "reports/timesheet/main"
      = render partial: "reports/timesheet/categories", locals: {f: f}
      = render partial: "reports/timesheet/signature_and_total"
    %hr
    %div{:align => "right"}
      = link_to "Export", timesheet_export_path(@report, format: :xlsx), class: "btn btn-primary" if @report.signed == true
      = f.button :submit, "Sign and Submit", class: "btn btn-success" if @report.signed == false
      = f.button :submit, "Submit", class: "btn btn-success" if @report.signed == true
